body{
    background-color: #000;
    height: 100vh;
    margin:0;
    font-family: sans-serif;
}

.imagen{
    background-image: url("./foto.jpeg");
    height: 200px;
    margin:0;
    background-repeat: no-repeat;
    background-position: center;
}



.nav{
    /*align-content: center;*/
    background-color: rgb(83, 129, 255);
    /*margin: auto;*/
    /*height: 35px;*/
    border-radius: 5px;
    /*box-sizing: border-box;*/
}

.nav__item{
    display:inline-block;
    /*border: 2px solid white*/

}

.nav__link{
    margin:30px;
    background-color: rgb(119, 183, 248);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.nav__item:last-child .nav__link{
    margin-left: 50px;
    color:#000;

}




.box{
    width: 300px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-top: 200px;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.etiqueta{

    color: white;
    font-weight: bold;
    font-size: 20px;
}

.formulario{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
    width: 300px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}

.formulario_item{
    width: 300px;
    border-radius: 8px;
}