body{
    background-color: #000;
    margin:0;
    font-family: sans-serif;
    
}

.imagen{
    background-image: url("./ultra-wide-nature-9e39l4h3spqgynd2.jpg");
    height: 150px;
    width: 100%;
    margin:0;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.nav{
    height: 40px;
    background-color: rgb(83, 129, 255);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0px;
}

.nav__list{
    margin: 0;  /*esto Dalto lo puso*/
}

.nav__item{
    display:inline-block;
    /*border: 2px solid white*/
    box-sizing: border-box;
    padding: 10px;
}

.nav__link{
    margin:30px;
    background-color: rgb(119, 183, 248);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px;
}

.nav__link:hover{
    background-color: rgb(29, 114, 199);
}

.nav__link:active{
    background-color: rgb(1, 61, 121);
}


.nav__item:last-child .nav__link{
    margin-left: 800px;
    color:#000;
    box-sizing: border-box;

}


p{
    color:#FFF;
    /*width: 100vw ;*/
    text-align: center;
    padding-top: 10px;
    border: 2px solid #FFF;
    column-count: 1;
    margin-top: 200px;
    width: 500px;
}

.texto{
    margin:auto;
    width: 500px;
    /*border: 2px solid #FFF;*/
}



.etiqueta{

    color: white;
    font-weight: bold;
    font-size: 20px;
}



.box{
    width: 300px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-top: 150px;
    align-items: center;
    flex-direction: column;
    /*border: 2px solid rgb(255, 255, 255);*/
    gap: 4px;
}


.formulario{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
    width: 300px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 10px;
}

.formulario_item{
    width: 300px;
    border-radius: 8px;
}


.formulario_item::placeholder{
    text-align: center;

}

