body{
    background-color: #000;
    margin:0;
    font-family: sans-serif;
    
}


.imagen{
    background-image: url("./ultra-wide-nature-9e39l4h3spqgynd2.jpg");
    min-height: 150px;   /*No es recomendable tener un height fijo*/
    width: 100%;
    margin:0;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/*---------------------------Navbar---------*/
.nav{
    min-height: 40px;
    background-color: rgb(83, 129, 255);
    position: sticky;
    /*box-sizing: border-box;*/
    /*border-radius: 5px;*/
    
}


.nav__ul{
    margin: 0;  /*esto Dalto lo puso*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.nav__item{
    list-style:none;
    box-sizing: border-box;
}



.nav__link{
    margin:30px;
    background-color: rgb(119, 183, 248);
    display: inline-block;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px;
    margin:6px;  /*se ve la separacion entre los elementos*/
}

.nav__link:hover{
    background-color: rgb(29, 114, 199);
}

.nav__link:active{
    background-color: rgb(1, 61, 121);
}


.nav__item:last-child .nav__link{
    margin-left: 590px;
    color:#000;
    box-sizing: border-box;

}




.box{
    width: 300px;
    height: 150px;
    display: flex;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}


.etiqueta{

    color: white;
    font-weight: bold;
    font-size: 20px;
}

.formulario{
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:10px;
    width: 300px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
}

.formulario_item{
    width: 300px;
    border-radius: 8px;
}




.texto{
    color:#FFF;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    border: 2px solid #FFF;
    column-count: 1;
}